.d2s[class^='mini-'], .d2s[class*='mini-'] {
    background-image: url('../img/minimap_mini_sheet.png');
    width: 32px;
    height: 32px;
}
.d2s {
    &.mini-axe {
        background-position: -0px -0px;
    }
    &.mini-anti-mage {
        background-position: -32px -0px;
    }
    &.mini-crystal-maiden {
        background-position: -64px -0px;
    }
    &.mini-ancient-apparition {
        background-position: -96px -0px;
    }
    &.mini-batrider {
        background-position: -128px -0px;
    }
    &.mini-beastmaster {
        background-position: -160px -0px;
    }
    &.mini-bloodseeker {
        background-position: -192px -0px;
    }
    &.mini-bounty-hunter {
        background-position: -224px -0px;
    }
    &.mini-broodmother {
        background-position: -256px -0px;
    }
    &.mini-chen {
        background-position: -288px -0px;
    }
    &.mini-dark-seer {
        background-position: -320px -0px;
    }
    &.mini-dazzle {
        background-position: -352px -0px;
    }
    &.mini-death-prophet {
        background-position: -384px -0px;
    }
    &.mini-doom {
        background-position: -416px -0px;
    }
    &.mini-dragon-knight {
        background-position: -448px -0px;
    }
    &.mini-alchemist {
        background-position: -480px -0px;
    }
    &.mini-drow-ranger {
        background-position: -0px -32px;
    }
    &.mini-earthshaker {
        background-position: -32px -32px;
    }
    &.mini-enchantress {
        background-position: -64px -32px;
    }
    &.mini-enigma {
        background-position: -96px -32px;
    }
    &.mini-faceless-void {
        background-position: -128px -32px;
    }
    &.mini-natures-prophet {
        background-position: -160px -32px;
    }
    &.mini-huskar {
        background-position: -192px -32px;
    }
    &.mini-juggernaut {
        background-position: -224px -32px;
    }
    &.mini-kunkka {
        background-position: -256px -32px;
    }
    &.mini-leshrac {
        background-position: -288px -32px;
    }
    &.mini-lich {
        background-position: -320px -32px;
    }
    &.mini-life-stealer {
        background-position: -352px -32px;
    }
    &.mini-lina {
        background-position: -384px -32px;
    }
    &.mini-lion {
        background-position: -416px -32px;
    }
    &.mini-mirana {
        background-position: -448px -32px;
    }
    &.mini-morphling {
        background-position: -480px -32px;
    }
    &.mini-necrophos {
        background-position: -0px -64px;
    }
    &.mini-shadow-fiend {
        background-position: -32px -64px;
    }
    &.mini-night-stalker {
        background-position: -64px -64px;
    }
    &.mini-omniknight {
        background-position: -96px -64px;
    }
    &.mini-puck {
        background-position: -128px -64px;
    }
    &.mini-pudge {
        background-position: -160px -64px;
    }
    &.mini-pugna {
        background-position: -192px -64px;
    }
    &.mini-queen-of-pain {
        background-position: -224px -64px;
    }
    &.mini-clockwerk {
        background-position: -256px -64px;
    }
    &.mini-razor {
        background-position: -288px -64px;
    }
    &.mini-riki {
        background-position: -320px -64px;
    }
    &.mini-sand-king {
        background-position: -352px -64px;
    }
    &.mini-shadow-shaman {
        background-position: -384px -64px;
    }
    &.mini-silencer {
        background-position: -416px -64px;
    }
    &.mini-wraith-king {
        background-position: -448px -64px;
    }
    &.mini-slardar {
        background-position: -480px -64px;
    }
    &.mini-sniper {
        background-position: -0px -96px;
    }
    &.mini-spectre {
        background-position: -32px -96px;
    }
    &.mini-spirit-breaker {
        background-position: -64px -96px;
    }
    &.mini-storm-spirit {
        background-position: -96px -96px;
    }
    &.mini-sven {
        background-position: -128px -96px;
    }
    &.mini-tidehunter {
        background-position: -160px -96px;
    }
    &.mini-tinker {
        background-position: -192px -96px;
    }
    &.mini-tiny {
        background-position: -224px -96px;
    }
    &.mini-jakiro {
        background-position: -256px -96px;
    }
    &.mini-ursa {
        background-position: -288px -96px;
    }
    &.mini-vengeful-spirit {
        background-position: -320px -96px;
    }
    &.mini-venomancer {
        background-position: -352px -96px;
    }
    &.mini-viper {
        background-position: -384px -96px;
    }
    &.mini-warlock {
        background-position: -416px -96px;
    }
    &.mini-weaver {
        background-position: -448px -96px;
    }
    &.mini-windranger {
        background-position: -480px -96px;
    }
    &.mini-witch-doctor {
        background-position: -0px -128px;
    }
    &.mini-zeus {
        background-position: -32px -128px;
    }
    &.mini-invoker {
        background-position: -64px -128px;
    }
    &.mini-clinkz {
        background-position: -96px -128px;
    }
    &.mini-outworld-devourer {
        background-position: -128px -128px;
    }
    &.mini-bane {
        background-position: -160px -128px;
    }
    &.mini-shadow-demon {
        background-position: -192px -128px;
    }
    &.mini-lycan {
        background-position: -224px -128px;
    }
    &.mini-lone-druid {
        background-position: -256px -128px;
    }
    &.mini-brewmaster {
        background-position: -288px -128px;
    }
    &.mini-brewmaster-fire {
        background-position: -320px -128px;
    }
    &.mini-brewmaster-storm {
        background-position: -352px -128px;
    }
    &.mini-brewmaster-earth {
        background-position: -384px -128px;
    }
    &.mini-phantom-lancer {
        background-position: -416px -128px;
    }
    &.mini-chaos-knight {
        background-position: -448px -128px;
    }
    &.mini-phantom-assassin {
        background-position: -480px -128px;
    }
    &.mini-treant-protector {
        background-position: -0px -160px;
    }
    &.mini-luna {
        background-position: -32px -160px;
    }
    &.mini-ogre-magi {
        background-position: -64px -160px;
    }
    &.mini-gyrocopter {
        background-position: -96px -160px;
    }
    &.mini-rubick {
        background-position: -128px -160px;
    }
    &.mini-wisp {
        background-position: -160px -160px;
    }
    &.mini-disruptor {
        background-position: -192px -160px;
    }
    &.mini-undying {
        background-position: -224px -160px;
    }
    &.mini-naga-siren {
        background-position: -256px -160px;
    }
    &.mini-templar-assassin {
        background-position: -288px -160px;
    }
    &.mini-nyx-assassin {
        background-position: -320px -160px;
    }
    &.mini-keeper-of-the-light {
        background-position: -352px -160px;
    }
    &.mini-visage {
        background-position: -384px -160px;
    }
    &.mini-magnus {
        background-position: -416px -160px;
    }
    &.mini-meepo {
        background-position: -448px -160px;
    }
    &.mini-centaur-warrunner {
        background-position: -480px -160px;
    }
    &.mini-slark {
        background-position: -0px -192px;
    }
    &.mini-medusa {
        background-position: -32px -192px;
    }
    &.mini-timbersaw {
        background-position: -64px -192px;
    }
    &.mini-troll-warlord {
        background-position: -96px -192px;
    }
    &.mini-tusk {
        background-position: -128px -192px;
    }
    &.mini-bristleback {
        background-position: -160px -192px;
    }
    &.mini-skywrath-mage {
        background-position: -192px -192px;
    }
    &.mini-elder-titan {
        background-position: -224px -192px;
    }
    &.mini-abaddon {
        background-position: -256px -192px;
    }
    &.mini-ember-spirit {
        background-position: -288px -192px;
    }
    &.mini-legion-commander {
        background-position: -320px -192px;
    }
    &.mini-earth-spirit {
        background-position: -352px -192px;
    }
    &.mini-terrorblade {
        background-position: -384px -192px;
    }
    &.mini-phoenix {
        background-position: -416px -192px;
    }
    &.mini-techies {
        background-position: -448px -192px;
    }
    &.mini-oracle {
        background-position: -64px -224px;
    }
    &.mini-winter-wyvern {
        background-position: -480px -192px;
    }
    &.mini-lina-alt1 {
        background-position: -480px -224px;
    }
    &.mini-legion-commander-alt1 {
        background-position: -448px -224px;
    }
    &.mini-terrorblade-alt1 {
        background-position: -416px -224px;
    }
    &.mini-techies-alt1 {
        background-position: -384px -224px;
    }
    &.mini-nevermore-alt1 {
        background-position: -352px -224px;
    }
    &.mini-phantom-assassin-alt1 {
        background-position: -320px -224px;
    }
    &.mini-crystal-maiden-alt1 {
        background-position: -288px -224px;
    }
}