.d2s {
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
@import 'dota2_minimap_heroes';
@import 'dota2_items';
@import 'dota2_heroes_medium';
@import 'dota2_heroes_small';
@import 'dota2_stats';