.d2mh {
    background-image: url("../img/minimap_hero_sheet.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.d2mh.axe { 
    background-position: -0px -0px;
}

.d2mh.anti-mage { 
    background-position: -32px -0px;
}

.d2mh.crystal-maiden { 
    background-position: -64px -0px;
}

.d2mh.ancient-apparition { 
    background-position: -96px -0px;
}

.d2mh.batrider { 
    background-position: -128px -0px;
}

.d2mh.beastmaster { 
    background-position: -160px -0px;
}

.d2mh.bloodseeker { 
    background-position: -192px -0px;
}

.d2mh.bounty-hunter { 
    background-position: -224px -0px;
}

.d2mh.broodmother { 
    background-position: -256px -0px;
}

.d2mh.chen { 
    background-position: -288px -0px;
}

.d2mh.dark-seer { 
    background-position: -320px -0px;
}

.d2mh.dazzle { 
    background-position: -352px -0px;
}

.d2mh.death-prophet { 
    background-position: -384px -0px;
}

.d2mh.doom { 
    background-position: -416px -0px;
}

.d2mh.dragon-knight { 
    background-position: -448px -0px;
}

.d2mh.alchemist { 
    background-position: -480px -0px;
}

.d2mh.drow-ranger { 
    background-position: -0px -32px;
}

.d2mh.earthshaker { 
    background-position: -32px -32px;
}

.d2mh.enchantress{ 
    background-position: -64px -32px;
}

.d2mh.enigma{ 
    background-position: -96px -32px;
}

.d2mh.faceless-void { 
    background-position: -128px -32px;
}

.d2mh.natures-prophet { 
    background-position: -160px -32px;
}

.d2mh.huskar{ 
    background-position: -192px -32px;
}

.d2mh.juggernaut { 
    background-position: -224px -32px;
}

.d2mh.kunkka { 
    background-position: -256px -32px;
}

.d2mh.leshrac{ 
    background-position: -288px -32px;
}

.d2mh.lich { 
    background-position: -320px -32px;
}

.d2mh.life-stealer { 
    background-position: -352px -32px;
}

.d2mh.lina { 
    background-position: -384px -32px;
}

.d2mh.lion { 
    background-position: -416px -32px;
}

.d2mh.mirana { 
    background-position: -448px -32px;
}

.d2mh.morphling { 
    background-position: -480px -32px;
}

.d2mh.necrophos { 
    background-position: -0px -64px;
}

.d2mh.shadow-fiend { 
    background-position: -32px -64px;
}

.d2mh.night-stalker { 
    background-position: -64px -64px;
}

.d2mh.omniknight { 
    background-position: -96px -64px;
}

.d2mh.puck { 
    background-position: -128px -64px;
}

.d2mh.pudge { 
    background-position: -160px -64px;
}

.d2mh.pugna { 
    background-position: -192px -64px;
}

.d2mh.queen-of-pain { 
    background-position: -224px -64px;
}

.d2mh.clockwerk { 
    background-position: -256px -64px;
}

.d2mh.razor { 
    background-position: -288px -64px;
}

.d2mh.riki { 
    background-position: -320px -64px;
}

.d2mh.sand-king { 
    background-position: -352px -64px;
}

.d2mh.shadow-shaman { 
    background-position: -384px -64px;
}

.d2mh.silencer { 
    background-position: -416px -64px;
}

.d2mh.wraith-king { 
    background-position: -448px -64px;
}

.d2mh.slardar { 
    background-position: -480px -64px;
}

.d2mh.sniper { 
    background-position: -0px -96px;
}

.d2mh.spectre { 
    background-position: -32px -96px;
}

.d2mh.spirit-breaker { 
    background-position: -64px -96px;
}

.d2mh.storm-spirit{ 
    background-position: -96px -96px;
}

.d2mh.sven { 
    background-position: -128px -96px;
}

.d2mh.tidehunter { 
    background-position: -160px -96px;
}

.d2mh.tinker { 
    background-position: -192px -96px;
}

.d2mh.tiny { 
    background-position: -224px -96px;
}

.d2mh.jakiro { 
    background-position: -256px -96px;
}

.d2mh.ursa { 
    background-position: -288px -96px;
}

.d2mh.vengeful-spirit{ 
    background-position: -320px -96px;
}

.d2mh.venomancer { 
    background-position: -352px -96px;
}

.d2mh.viper { 
    background-position: -384px -96px;
}

.d2mh.warlock { 
    background-position: -416px -96px;
}

.d2mh.weaver { 
    background-position: -448px -96px;
}

.d2mh.windranger{ 
    background-position: -480px -96px;
}

.d2mh.witch-doctor { 
    background-position: -0px -128px;
}

.d2mh.zeus { 
    background-position: -32px -128px;
}

.d2mh.invoker { 
    background-position: -64px -128px;
}

.d2mh.clinkz{ 
    background-position: -96px -128px;
}

.d2mh.outworld-devourer { 
    background-position: -128px -128px;
}

.d2mh.bane { 
    background-position: -160px -128px;
}

.d2mh.shadow-demon{ 
    background-position: -192px -128px;
}

.d2mh.lycan { 
    background-position: -224px -128px;
}

.d2mh.lone-druid{ 
    background-position: -256px -128px;
}

.d2mh.brewmaster { 
    background-position: -288px -128px;
}

.d2mh.brewmaster-fire { 
    background-position: -320px -128px;
}

.d2mh.brewmaster-storm { 
    background-position: -352px -128px;
}

.d2mh.brewmaster-earth { 
    background-position: -384px -128px;
}

.d2mh.phantom-lancer { 
    background-position: -416px -128px;
}

.d2mh.chaos-knight { 
    background-position: -448px -128px;
}

.d2mh.phantom-assassin { 
    background-position: -480px -128px;
}

.d2mh.treant-protector { 
    background-position: -0px -160px;
}

.d2mh.luna { 
    background-position: -32px -160px;
}

.d2mh.ogre-magi { 
    background-position: -64px -160px;
}

.d2mh.gyrocopter { 
    background-position: -96px -160px;
}

.d2mh.rubick { 
    background-position: -128px -160px;
}

.d2mh.wisp { 
    background-position: -160px -160px;
}

.d2mh.disruptor { 
    background-position: -192px -160px;
}

.d2mh.undying { 
    background-position: -224px -160px;
}

.d2mh.naga-siren{ 
    background-position: -256px -160px;
}

.d2mh.templar-assassin { 
    background-position: -288px -160px;
}

.d2mh.nyx-assassin{ 
    background-position: -320px -160px;
}

.d2mh.keeper-of-the-light { 
    background-position: -352px -160px;
}

.d2mh.visage { 
    background-position: -384px -160px;
}

.d2mh.magnus { 
    background-position: -416px -160px;
}

.d2mh.meepo { 
    background-position: -448px -160px;
}

.d2mh.centaur-warrunner { 
    background-position: -480px -160px;
}

.d2mh.slark{ 
    background-position: -0px -192px;
}

.d2mh.medusa { 
    background-position: -32px -192px;
}

.d2mh.timbersaw { 
    background-position: -64px -192px;
}

.d2mh.troll-warlord { 
    background-position: -96px -192px;
}

.d2mh.tusk { 
    background-position: -128px -192px;
}

.d2mh.bristleback { 
    background-position: -160px -192px;
}

.d2mh.skywrath-mage{ 
    background-position: -192px -192px;
}

.d2mh.elder-titan{ 
    background-position: -224px -192px;
}

.d2mh.abaddon { 
    background-position: -256px -192px;
}

.d2mh.ember-spirit { 
    background-position: -288px -192px;
}

.d2mh.legion-commander { 
    background-position: -320px -192px;
}

.d2mh.earth-spirit { 
    background-position: -352px -192px;
}

.d2mh.terrorblade { 
    background-position: -384px -192px;
}

.d2mh.phoenix{ 
    background-position: -416px -192px;
}

.d2mh.techies{ 
    background-position: -448px -192px;
}

.d2mh.oracle{ 
    background-position: -64px -224px;
}

.d2mh.winter-wyvern{ 
    background-position: -480px -192px;
}

.d2mh.lina-alt1{ 
    background-position: -480px -224px;
}

.d2mh.legion-commander-alt1 { 
    background-position: -448px -224px;
}

.d2mh.terrorblade-alt1 { 
    background-position: -416px -224px;
}

.d2mh.techies-alt1 { 
    background-position: -384px -224px;
}

.d2mh.nevermore-alt1 { 
    background-position: -352px -224px;
}

.d2mh.phantom-assassin-alt1 { 
    background-position: -320px -224px;
}

.d2mh.crystal-maiden-alt1 { 
    background-position: -288px -224px;
}
